<!DOCTYPE html>
<html>
  <head>
    <title>DRY</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <h1>hello</h1>
    <p> (remember to check the console)</p>

    <div>
      <ol>
        <li>Include /register/exports --> mandatory!</li>
        <li>Include your library / script</li>
        <li>Include /register/name1 --> where name1 is what you choose to call in the future to this script</li>
        <li>Start using it: name1.methodName1()</li>
      </ol>
    </div>
  </body>
  <script type="text/javascript" src="/register/exports"></script>
  <script type="text/javascript" src="/javascripts/math.js"></script>
  <script type="text/javascript" src="/register/math"></script>
  <script type="text/javascript" src="/javascripts/mathFail.js"></script>
  <script type="text/javascript" src="/register/mathFail"></script>

  <script>
    var testNumber = 10
    console.log(math.increment(testNumber));
    console.log(mathFail.increment(testNumber));
    console.log(math.increment(testNumber));
    console.log(mathFail.increment(testNumber));
  </script>
</html>