body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a:link {
  color: #00b7ff;
  text-decoration: none;
}
/* unvisited link */
a:visited {
  color: #00b7ff;
}
/* visited link */
a:hover {
  color: orange;
}
/* mouse over link */
a:active {
  color: blue;
}
/* selected link */
